/*  your css code here. If applicable */
.container_playlist{
	display: flex;
	justify-content: center;
}

.player_one, .player_two {
            background-color: rgb(255, 255, 255);
            padding: 15px;
            border-radius: 10px;
            width: 60%;
            margin: 20px auto;
            text-align: center;
        }
 video, audio {
            width: 100%;
        }